# dependencies
node_modules/
auto-transport-growth/node_modules/

# next.js build outputs
.next/
auto-transport-growth/.next/
auto-transport-growth/out/
auto-transport-growth/build/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
auto-transport-growth/.env*.local

# vercel
.vercel
auto-transport-growth/.vercel
